angular_github_search/web/styles.css linguist-vendored
flutter_github_search/android/** linguist-vendored
flutter_github_search/ios/** linguist-vendored
flutter_github_search/linux/** linguist-vendored
flutter_github_search/macos/** linguist-vendored
flutter_github_search/windows/** linguist-vendored
